
@media screen and (max-width:576px){
    /* share style  */
    h1{
        font-size: 32px;
    }
    p{
        font-size: 14px;
    }
    /* navbar responsive  */
    #miama-font{
       
        font-size:36px;
    }
    .nav-button{
    display: none;
   }
   .nav{
    margin: 0 auto;
   }
   .nav-bar{
    margin:0 30px;
   }
   .menu-icon{
    display: block;
   }
   /* hero responsive  */
   .hero-container{
    flex-direction:column;
   }
   .hero-img{
    margin-left:80px;
    margin-top: 60px;
   }
   .hero-text{
    height:500px;
    width:50%;
    margin-left:30px;

   }
   .hero-text>h1{
    font-size:40px;
    }
    .hero-text h1 span{
         font-size:40px;
   }
  
   .button-container{
    width:140%;
    display: flex;
    justify-content: space-between;
   
   }
   .bonus{
    width:145px;
    height: 74px;
    top: 150px;
    right:-30px;
   }
   .bonus h2 {
    margin-top:10px;
    margin-left: 30px;
   }
   .bonus>p{
    margin-top:0px;
    margin-left: 20px;
   }
   .bonus-2{
    width:155px;
    height:72px;
    top:300px;
    left:-40px;
   }
   
.bonus-2-text>h4{
    margin-top: 10px;
    margin-left:0px;
    margin-bottom:00px;
    font-size:20px;
    font-weight: bolder;
}
.bonus-2-text>p{
    margin:00px;
    margin-left: 0px;
    font-size:small;
}
.dot{
    margin:20px 0px 0px 20px;
}
   /* change habit responsive */
   .chng-habit-container{
    margin-top: 550px;
   }
   .cart-container{
    flex-direction: column;
    margin-top: 130px;

}
    /* run extra responsive  */
    .run-extra-container{
        flex-direction: column;
        margin-top: 100px;
        margin-left:20px;
        width: 353px;
        height: 531px;
}
.run-extra-text{
    margin-top: -70px;
}
.run-extra-text>button{
        width: 287px;
        height: 54px;
    }
.run-extra-img-container{
        width: 287px;
        height: 170px;
       margin-bottom: 100px;
       
}
 /* exercise responsive */
  .exercise-container{
    margin-left:-130px;
  }
     .erercise-text{
        margin-left: 200px;
     }
    .img-container{
        width:353px;
        height:253px;
        margin: 0 auto;
        margin-left:0px;
        display: grid;
        grid-template-columns: repeat(11,1fr);
        grid-template-rows: repeat(11,1fr);
    }
    .img-container img{
      width:100%;
      height:100%;
    
    }
    .img1{
          grid-column: 1/span 6;
          grid-row: 1/span 6;
    }
    .img2{
        grid-column: 7/span 6 ;
         grid-row: 1/span 6;
        object-fit: none;
        object-position:100%;}
    .img3{
         display: none;
     }
    .img4{
        grid-column: 1/span 6;
        grid-row: 7/span 6;}
    .img5{
        grid-column: 7/span 6;
        grid-row: 7/span 6}
    .img6{
        display: none;}
        .bmi-heading{
            margin-left:0px;
        }
        .bmi-heading>p{
            margin-top: 10px;
        }
        /* bmi section style  */
        .section-container{
            flex-direction: column;
            margin-left: 40px;
            width: 394px;
            height: 772px;
        }
        .calculator-chart>h2{
            margin-top: 40px;
        }
        
        .calculator-chart{
            width: 70%;
            margin-left:-50px;
           
        }
        .bmi{
            width:354px;
            height:395px;
        }
        .bmi>p{
            margin-top: -30px;
        }
        .input-box{
            width: 353px;
            height:168px ;
            grid-template-columns: 11rem 11rem;
            margin-top: -0px;
        }
        .select2{
            width: 360px;
        }
/* meet team style  */
.team-img-container{
   width:353px;
   height:900px;
   grid-template-columns: repeat(1,1fr);
   gap: 18px;
}
.team-text{
width:309px;
height:124px;
}
/* footer style  */
.footer-container{
 width: 393px;
height: 986px;
margin-top:1200px;
margin-left: 20px;

} 
.text-container{
    flex-direction: column;
    justify-content: flex-start;
    width: 353px;
height: 748px;


} 
.reserve-text{
    margin-left: 70px;
   color:#FFFFFF80;
   ;
}
h4{
font-family: Inter;
font-size: 32px;
font-weight: 700;
line-height: 38.4px;
text-align: left;

}
}
