@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');
.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
  }
#miama-font{
    font-family: 'Miama', sans-serif;
    font-family:Miama;
    font-size: 78px;
    font-style: italic;
    font-weight: 400;
    line-height: 93.6px;
    text-align: left;
    }
body{
    padding:0px;
    margin: 0px;
    box-sizing: border-box;
}    

/* share style  */
.body-decoration{
    max-width: 1060px;
    background-color: black;
    color: white;
    margin: 0 auto;
}
.btn{
    height:54px;
    width: 224px;
    border: none;
    border-radius:42px;
    background-color: #E6533C;
    color: aliceblue;
    
}
h1{
font-family: Inter;
font-size: 48px;
font-weight: 900;
}
p{
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height:24px;
color: #FFFFFF80;
}
.text-center{
    text-align: center;
}

/* navbar style  */
.nav-bar{
max-width: 1,060px;
height:46px;
display: flex;
justify-content: space-between;
}
.nav-heading>h1{
font-family: Inter;
font-size: 36px;
font-style: italic;
font-weight: 800;
text-align: left;
color: #E6533C;
margin-top: -1px;


}
.nav-button ul {
    display: flex;
    justify-content: space-around;
    width: 465px;
    height: 38px;
    margin-top:3px;
    gap: 47px; 
    border:1px solid #777;
    border-radius: 20px;

}
.nav-button ul li{
    margin:auto 0;
    list-style: none;
}
#link-btn{
    background-color: black;
    border: none;
    color: white;
}
#home-style{
    width: 92px;
    height:34px;
    margin-left: -55px;
    background-color: orangered;
    border-radius: 20px;
    border: none;
}
.menu-icon{
    display: none;
    padding: 13px;
}
/* hero-secttion style */

.hero-container{
    display: flex;
    justify-content: space-between;
    height: 580px;
    margin:auto;
    background-color: black;
    max-width: 1440px;

}
.hero-text{
    width:47%;
    height:440px;
    margin-top: 10px;
}
.btn2{
        background-color: black;
        border: 2px solid white;
        margin-left: 20px;
    }
.image{
width: 349px;
height: 580px;
}
.hero-text>h1{
font-family: Inter;
font-size: 78px;
font-weight: 900;
text-align: left;
color: aliceblue;
}

.hero-img{
    height: 550px;
    width:100%;
    background-image: url(../asset/Images\ 2.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.bonus{
    height:98px;
    width: 193px;
    background-color:rgba(169, 162, 162, 0.5);
    color: aliceblue;
    border-radius: 10px;
    position: absolute;
    top: 150px;
    right:-60px;
}
.bonus>h2{
    margin-left: 40px;
    margin-bottom: -10px;
    font-size:30px;
    font-weight: bolder;
}
.bonus>p{
    margin-left: 40px;
    font-size:small;
    padding-top:0px;
}
.bonus-2{
    height:96px;
    width: 206px;
    background-color:rgba(169, 162, 162, 0.5);
    color: aliceblue;
    border-radius: 10px;
    position: absolute;
    bottom: 10px;
    left:-100px;
    margin-top:40px;
    display: flex;
    gap: 10px;
}
.bonus-2-text>h4{
    margin-top: 30px;
    margin-left: 0px;
    font-size:25px;
    font-weight: bolder;
}
.bonus-2-text>p{
    margin-top:-30px;
    margin-left: 0px;
    font-size:small;
}
.dot{
    height:30px;
    width: 30px;
    border-radius: 50%;
    background-color: #E6533C;
    margin-top: 40px;
    margin-left: 40px;
}

/* change habit style  */
.chng-habit-container{
    margin-top:130px;
}
.text-center{
    text-align: center;
}
.cart-container{
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}
.img-con{
    height:180px;
    width:180px;
    border-radius: 50%;
    margin: 0 auto;
    background-size: cover;
}
.curt-img1{
    background-image: url(../asset/image\ 3.png);
}
.curt-img2{
    background-image: url(../asset/image\ 2.png);
}
.curt-img3{
    background-image: url(../asset/image\ 4.png);
}
.curt-img4{
    background-image: url(../asset/image\ 5.png);
}
img{
    background-size: cover;
}
.cart-text>h4{
    text-align: center;
    margin-bottom: 10px;
}

/* run extra style */
.run-extra-container{
width: 1060px;
height: 371px;
padding: 30px 32px 29px 54px; 
border-radius: 25px;
margin: 0 auto;
margin-top: 130px;
padding-top: 100px;
background-color:#222222;
border: 2px solid black;
display: flex;
justify-content: space-between;
}
.run-extra-text{
width: 443px;
height:290px;
}
.run-extra-img-container{
width: 366px;
height:312px;
border: 2px solid black;
border-radius: 18px;
background-size: cover;
background-repeat: no-repeat;
background-image: url(../asset/run.jpg);
}
/* exercise section style  */
.exercise-container{
    margin-top: 130px;
    margin: 0 auto;
}
.img-container{
    width: 1200px;
    height: 500px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);
}
.img-container img{
  width:100%;
  height:100%;
 

}
.img1{
      grid-column: 1/span 3;
      grid-row: 1/span 6;
      position: relative;
      
}
.img2{
    grid-column: 4/span 6 ;
     grid-row: 1/span 6;
     position: relative;}
.img3{
     grid-column: 10/span 3;
      grid-row: 1/span 6;
      position: relative;
 }
.img4{
    grid-column: 1/span 5;
    grid-row: 7/span 6;
    position: relative;}
.img5{
    grid-column: 6/span 3;
    grid-row: 7/span 6;
    position: relative;}
.img6{
    grid-column: 9/span 4;
    grid-row: 7/span 6;
    position: relative;}  
.img-text{
   position: absolute;
   top:5%;
   left:10%;
}
.img-text1{
    position: absolute;
    bottom: 20px;
    left: 20px;
}
.img-text2{
    position: absolute;
    top: 20px;
    left: 20px;
}
.img-text3{
    position: absolute;
    bottom:20px;
    left:40px;
}
.img-text4{
    position: absolute;
    top: 20px;
    right: 20px;
}
.img-text5{
    position: absolute;
    bottom: 20px;
    left: 20px;
}
.img-text6{
    position: absolute;
    bottom: 20px;
    left: 20px;
}
.bmi-heading{
    margin: 130px auto;
    margin-left: 30%;
 }
 .bmi-heading>p{
     margin-top: -40px;
 }
/* bmi calculator style  */
.bg{
    background-color:#222222;
}

h2{
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 600;
}
.calculator-chart>h2{
  margin-top: -60px;
}
.table-container{
    margin-top: 50px;
}

p{
  color: #fff;
  opacity: 0.8;
}

.section-container{
    width:1200px;
    height: 487px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.calculator-chart{
    width: 45%;
    margin-bottom:20px;
   
}

.bmi{
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 00px;
}

table.table-container {
    width: 80%;
    background-color: transparent;
    border-collapse: collapse;
    border-width: 2px;
    border-color: #abb2bf;
    border-style: solid;
    color: #fff;
   
  }

  table.table-container td,
  table.table-container th {
    border-width: 2px;
    border-color: #abb2bf;
    border-style: solid;
    padding: 10px;
  }

  table.table-container thead {
    background-color: transparent;
  }
  table.table-container td {
    opacity: 0.8;
  }

  .input-box{
    display: grid;
    grid-template-columns: 15rem 15rem;
    gap: 10px;
  }
  input{
    background: #383838;
    outline: 0;
    border: 0;
    padding: 12px 10px;
    border-radius: 8px;
  }
  .select1{
    background: #383838;
    border:none;
    border-radius: 8px;
    color:#5c5c5c;
    padding: 12px 10px;
    
  }
  .select2{
    height:48px;
    width:490px;
    background: #383838;
    border:none;
    border-radius: 8px;
    color:#5c5c5c;
    padding: 12px 10px;
  }
 
  /* meet team style  */
  .team-container{
    width: 1060px;
    height:782px;
    margin-left: 70px;
    margin-top:130px;
    
  }
  .team-text>h1{
   margin-bottom: 0px;
  }
  .team-img-container{
    width: 1060px;
    height:604px;
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
  }
  .team-img-text{
    color: #FFFFFF;
  }
  .team-img1{
    width: 326.67px;
   height: 272px;
   border-radius:18px;
   position: relative;

  }
  .team-img1 img{
    width: 100%;
    height: 100%;
    border-radius: 18px;
  }
  .team-img1 p{
    margin-top:00px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    text-align: left;
  }
  .team-img1 h3{
    color: white;
    margin: 00px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 900;
    line-height: 24px;
    text-align: left;
     }
.team-img-text{
    margin-bottom:130px;
    position: absolute;
    top:220px ;
    left:20px;
}
  /* footer style start  */
  .footer-container{
    width: 1200px;
    height: 420px;
    margin: 0 auto;
    border: 2px solid black;
    color: aliceblue;
    background-color: #FFFFFF1A;

    }
    .text-container{
    width:1059px;
    height: 249px;
    margin-left:30px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    }
    .footer-text1>h1{
        color: #E6533C;
        font-family: Inter;
       font-size: 70px;
       font-style: italic;
       font-weight: 800;
       line-height: 84px;
       text-align: left;
       margin-top: 10px;
}
.footer-text1>p{
    margin-top: -50px;
}
    .footer-link{
        margin-left: -40px;
        margin-top: 10px;
    }
    .footer-link>ul{
        list-style: none;
    }
    .footer-link li{
        margin-top: 10px;
    }
    .reserve-text{
        
        margin-left:600px;
    }
  
  